{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center">
<div class="container">
    <h1>JOSIE</h1>
    <p>La cliente souhaitera augmenter son chiffre d’affaire en développant un site internet présentant tous ses produits, ainsi qu’un formulaire de contact afin d’avoir directement des retours de ces clients, et ainsi créer un premier contact, car son activité est essentiellement basée sur le passage, dû à sa localisation favorisée.</p>
</div>
</div>
{% endblock %}